.gd .diff-line-code pre.highlight {
    background-color: #FDD !important;
}

.gi .diff-line-code pre.highlight {
    background-color: #DFD !important;
}

.diff-line-code pre.highlight:hover {
    background-color: #f6e8b5 !important;
    border-color: #f0db88 !important;
}